.container{
    background-image: url("university.jpg");
    color: ghostwhite;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px; /* You must set a specified height */

    background-position: center; /* Center the image */
}

.center {
    text-align: center;
    position: fixed;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}



li {
    float: left;
}



    li a, #logout {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none; 
        background-color: transparent;
    }



        li a:hover:not(.active), #logout:hover:not(.active) {
            background-color: green;
        }

.active {
    background-color: #04AA6D;
}
