
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration form</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script type="text/javascript" src="~/Scripts/AddResultDetails.js"></script>
    <link rel="stylesheet" type="text/css" href="~/CSS/ResultDetails.css?v=1">
    <link rel="stylesheet" type="text/css" href="~/CSS/Navigation.css">


    <style>
        .background {
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_CZXC_rz2krVrxlC0lrTdISiuWUYDgswyH0AWaatQUnuICYI-26nEU4raOqZtiYxmU-I&usqp=CAU");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            filter: blur(6px);
            z-index: -1;
        }

        .center {
            text-align: center;
            position: fixed;
        }
    </style>
</head>

<body>
    <div class="background"></div>
    <div class="container1">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#home">Faculties</a></li>
            <li><a href="#home">Vacancies</a></li>
            <li><a href="/Register/ResultDetails">View results</a></li>
            <li><a href="#contact">Contact Us</a></li>
            <li><button id="logout" onclick="window.location = '@Url.Action("Login", "Login")'">Log Out</button></li>
        </ul>
    </div>

    <div class="container">
        <h2>Result Details</h2>
        <form>
            <div>
                <fieldset>
                    <legend id="title" class="desc">
                        <label for="result">Result Details</label>
                    </legend>
                    <div>
                        <div class="row">
                            <div class="col-25">
                                <label for="subject1">Subject 1: </label>
                            </div>

                            <div class="col-75">
                                <select class="subjectDetails1">
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-25">
                                <label for="grade 1">Grade: </label>
                            </div>

                            <div class="col-75">
                                <select class="gradeDetails1">
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                    <option value="E">E</option>
                                    <option value="F">F</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-25">
                                <label for="subject2">Subject 2: </label>
                            </div>

                            <div class="col-75">
                                <select class="subjectDetails2">
                                </select>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-25">
                                <label for="grade 2">Grade: </label>
                            </div>

                            <div class="col-75">
                                <select class="gradeDetails2">
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                    <option value="E">E</option>
                                    <option value="F">F</option>
                                </select>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-25">
                                <label for="subject3">Subject 3: </label>
                            </div>

                            <div class="col-75">
                                <select class="subjectDetails3">
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-25">
                                <label for="grade 3">Grade: </label>
                            </div>

                            <div class="col-75">
                                <select class="gradeDetails3">
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                    <option value="E">E</option>
                                    <option value="F">F</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <input type="button" id="next" value="Submit">
        </form>
    </div>
</body>
</html>
